<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Serenade</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/serenade_logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
</head>
<body>
    <div class="glossy-container">
        <h1>About This Project</h1>
        <p>
            Inspired by <a href="https://receiptify.herokuapp.com/" style="text-decoration: none;">Receiptify</a>, Serenade is a multipurpose tool that allows users to create 'virtual date cards' for their loved individual and their dates, and displays a user's top most played tracks on Spotify & Last.fm (soon).
            <br><br>
            Serenade Music Recap was added 3 days prior to release of the web application. It's initial purpose is only to create date cards. The creator believed that adding your music taste might enhance your date chance.
            <br><br>
            Originally created just for a certain individual under the name 'WYDM (Will You Date Me)', was made public to impress your date.
        </p>

        <h1>FAQ</h1>
        <p style="text-align: center;">
            <b>Q:</b>Will you add last.fm?
            <br>
            <b>A:</b> Soon! I will focus on Spotify first to identify which part can be added to last.fm.
            <br><br>
            <b>Q:</b> Help! The image is not loading properly/at all.
            <br>
            <b>A:</b> Reload the page, sometimes the backend is not nice at all.
        </p>
    </div>    
</body>
</html>