body {
    width: 800px;
    background: #fff;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.tracks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.track {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px 0;
    border-bottom: 2px dashed #ddd;
}
.track-name {
    font-weight: bold;
}
.artist-name {
    font-size: 22px;
    color: #555;
}
.track-listens {
    font-size: 22px;
    font-weight: bold;
    color: #d32f2f;
}
.footer {
    margin-top: 30px;
    font-size: 18px;
    color: #777;
}