
body {
    font-family: 'Poppins', sans-serif;
    background: url('/static/img/valentines_bg.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #ffebee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    text-align: center;

    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}


.container {
    display: flex;
    width: 100%;
    max-width: 1100px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


#download-btn {
    background: #ff4081;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(255, 64, 129, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

#download-btn:hover {
    background: #e03070;
    box-shadow: 0 6px 15px rgba(255, 64, 129, 0.5);
}



.sidebar {
    flex: 1;
    background: #f8f8f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.sidebar select, .sidebar button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}


.time-options {
    display: flex;
    gap: 10px;
}

.time-options button {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #eee;
    font-size: 14px;
}

.time-options button.active {
    background: #ff758c;
    color: white;
}

.color-description {
    font-size: 14px;
    color: #666;
    margin-top: 15px;
    font-style: italic;
}


#generated-image-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


#generated-image {
    width: 60%;  
    max-width: 650px; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    aspect-ratio: 9 / 16; 
}


.list-view #generated-image {
    width: auto;  
    aspect-ratio: auto; 
}


@media (max-width: 768px) {
    
    body {
        margin-top: 30px;
    }
    .container {
        width: 90%;
        height: 100%;
        flex-direction: column; 
        align-items: center;
        box-shadow: none;
    }

    
    #generated-image-container {
        order: -1; 
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px; 
    }

    #generated-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: contain; 
    }

    
    .sidebar {
        width: 100%;
        text-align: center;
        padding: 15px;
        border-left: none;
        border-top: 2px solid #ddd;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .sidebar select, 
    .sidebar button {
        font-size: 14px;
        padding: 12px;
        margin-bottom: 10px;
    }

    .sidebar select {
        width: 90%;
    }

    .sidebar button {
        padding-left: 50px;
        padding-right: 50px;
    }

    
    .time-options {
        flex-direction: column;
        gap: 10px;
    }

    
    h1, h2 {
        font-size: 20px;
    }

    .color-description {
        font-size: 12px;
        margin-top: 8px;
    }
}