body {
    font-family: 'Poppins', sans-serif;
    background: url('/static/img/valentines_bg.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #ffebee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;

    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.link-box {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

input {
    flex: 1;
    padding: 8px;
    border: 2px solid #d63384;
    border-radius: 5px;
    text-align: center;
}

button {
    background: #d63384;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #b82e70;
}

.back-home {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background: #d63384;
    padding: 10px 15px;
    border-radius: 5px;
}

.back-home:hover {
    background: #b82e70;
}
